- data.students.shuffle.each do |student|
  %div.student
    %img{:src => lorem.image('100x100'), :alt => ""}/
    %h4= student.name
    //%p= student.role

    %div.verbose.invisible{:class => student.shortname}
      %img{:src => lorem.image('200x200'), :alt => ""}/
      %h4= student.name
      %h5= student.role
      %p= student.bio
      %h3= student.quote
      %ul
        - if student.links
          - student.links.each do |link|
            %li
              %a{:href => link.url}= link.title
