%section#landing
  = partial 'partial/landing'

%section#overview
  = partial 'partial/overview'

%section#curriculum
  = partial 'partial/curriculum'

%section#students
  = partial 'partial/students'

%section#footer
  = partial 'partial/footer'